.App {
  text-align: center;

}

.ticker-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* ارتفاع شريط الأخبار */
  overflow: hidden;
  background-color: #0a0b0c; /* لون خلفية الشريط */
  color: #ffffff; /* لون النص */
}

.ticker {
  display: flex;
  animation: tickerSlide 20s linear infinite; /* مدة الحركة ونوعها */
}

.ticker__content {
  white-space: nowrap; /* تجنب السطور الجديدة */
  padding-right: 200%; /* إبعاد للنص عن الحافة اليمنى */
  padding-top: 20px;
}

.ticker__content span {
  margin-right: 200%; /* إبعاد للنص عن الحافة اليمنى */
}

@keyframes tickerSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.name-container {
  padding: 0px 0; /* Padding top and bottom */
  text-align: center; /* Center align content */
}

/* Styling for the logo image */
.logo-img {
  width: 250px; /* Width of the logo image */
  height: auto; /* Maintain aspect ratio */

}

/* Styling for the name text */
.name-text {
  font-family: 'Arial', sans-serif; /* Font family */
  color: #333; /* Text color */
  font-size: 3rem; /* Font size */
  margin-top: 20px; /* Margin top */
}
.name-text::after,
.name-text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #080909; /* لون الخط */
  bottom: -5px;
  left: 0;
}

.name-text::before {
  top: -5px;
}

.Containers {
  background-color: #f8f9fa; 
  padding: 20px; 
} 





