.App {
  text-align: center;

}

.ticker-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* ارتفاع شريط الأخبار */
  overflow: hidden;
  background-color: #0a0b0c; /* لون خلفية الشريط */
  color: #ffffff; /* لون النص */
}

.ticker {
  display: flex;
  animation: tickerSlide 20s linear infinite; /* مدة الحركة ونوعها */
}

.ticker__content {
  white-space: nowrap; /* تجنب السطور الجديدة */
  padding-right: 200%; /* إبعاد للنص عن الحافة اليمنى */
  padding-top: 20px;
}

.ticker__content span {
  margin-right: 200%; /* إبعاد للنص عن الحافة اليمنى */
}

@keyframes tickerSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.name-container {
  padding: 0px 0; 
  text-align: center; 
}

/* Styling for the logo image */
.logo-img {
  width: 250px; 
  height: auto; 

}

/* Styling for the name text */
/* .name{
  font-family: 'Arial', sans-serif; 
  color: black; 
  font-size: 60px; 
  margin-top: 20px; 
} */
.name-text::after,
.name-text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #080909; /* لون الخط */
  bottom: -5px;
  left: 0;
}

.name-text::before {
  top: -5px;
}

.Containers {
  background-color: #f8f9fa; 
  padding: 20px; 
} 
.name {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  margin-top: 20px;
  position: relative; /* Ensure position is set to enable pseudo-elements */
  display: inline-block; /* Display as inline-block to allow pseudo-elements */
  animation: colorChange 20s linear infinite; /* Animation for color change */
}

/* Define keyframes for color change */
@keyframes colorChange {
  0%, 100% {
    color: #f48fb1; /* Initial and final color */
  }
  25% {
    color: #f50057; /* Color change at 10 seconds */
  }
  50% {
    color: #880e4f; /* Color change at 20 seconds */
  }
  75% {
    color: #76ff03; /* Color change at 30 seconds */
  }
}

.name::after,
.name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #080909; /* Underline color */
  bottom: -5px;
  left: 0;
}

.name::before {
  top: -5px;
}



/* تصميم النص */
/* .left-corner h1 {
  transform-origin: bottom left; 
}

.right-corner h1 {
  transform-origin: bottom right; 
} */



