.container {
    margin-top: 50px;
  }
  
  .add-product-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .add-product-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-add-product {
    margin-top: 20px;
  }